*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Knockout';
    src: url('../fonts/knockout/Knockout-Bold.otf') format('truetype');
    font-style: normal;
    font-weight: bold;
  }

body{
    font-family: 'Knockout';
    color: white;
}

main, header{
    background-color: black;
}

button{
    background-color: transparent;
    border: none;
    color:white;
}

button.menuLateral {
    width: 40px;
}

.boton{
    text-align: center;
    text-decoration: none;
    border: 2px solid white;
    background-color: transparent;
    padding: 10px 25px;
    border-radius: 20px;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: white;
}

svg{
    fill:white;
}

/*ANIMACIONES*/
.mover{
    width: 100%;
    overflow-x: hidden;
}

.mover div{
    display: flex;
    overflow: hidden;
}

.mover p{
    font-size: 144px;
}

@keyframes mover-izq-der {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0%);
    }
}

@keyframes mover-der-izq{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.mover div p{
    animation: mover-izq-der 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.mover div:nth-child(2n+1) p{ 
    animation: mover-der-izq 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.mover span{
    color: transparent;
    -webkit-text-stroke: 1px white;
}

/*HEADER*/
/*Menu*/
/*Logo y menu lateral*/
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 60px 0px 60px;
    z-index: 100;
}

.menu div:first-child{
    display: flex;
    align-items: center;
}

.menu button{
    font-size: 3rem;
}

.menu svg{
    fill: white;
    width: 100%;
}

.logo a{
    width: 13%;
    margin-right: 20px;
}

/*Enlaces*/
.menu .boton{
    font-size: 1rem;
    margin: 0 10px;
}

.menu a.boton+a.boton{
    background-color: #ee2737;
    border: 2px solid #ee2737;
}

/*MAIN*/
/*banner*/

#banner{
    width: 100%;
}

#banner>div:first-child{
    display: flex;
    justify-content: center;
}

/*video*/
#banner video{
    position: relative;
    bottom: 110px;
    width: 50%;
    z-index: 99;
}

#banner div{
    width: 100%;
    
}

/*letras*/
#banner .mover{
    position: absolute;
    top: 300px;
    line-height: 0.8;
}



/*NOVEDADES*/
/*IMAGEN DE FONDO*/

#novedades > div:last-child>img{
    width: 100%;
    border-top: solid 2px white;
}

/*BOTONES Y NUMERO*/
#novedades{
    position: relative;
}
#novedades > div:first-child{
    position: absolute;
    display: flex;
    right: 100px;
    align-items: center;
    top: 60px;
}

#novedades > div:first-child button{
    margin: 0 5px;
}

#novedades > div:first-child p{
    font-size: 40px;
}

#novedades > div:first-child >div{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px white;
    margin-left: 20px;
    border-radius: 100%;
    width: 80px;
    height: 80px
}

/*LETRAS*/
#novedades >div:last-child>div{
    position: absolute;
    top: 60%;
    left: 3%; 
}


#novedades >div:last-child>div>p{
    font-size: 12px;
}

#novedades >div:last-child>div>h2{
    font-size: 100px;
    line-height: 1;
}


#novedades >div:last-child>div>a{
    font-size: 30px;
}

/*CARTA*/
/*TITULO*/
#carta>div:first-child{
    padding-top: 5px;
    margin: 10px 0;
    border-top: solid 2px white;
    border-bottom: solid 2px white;
    line-height: 1;
}

/*imagenes*/

#carta{
    overflow-x: hidden;
}

#carta>div:last-child{
    position: relative;
    left: 95%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#carta>div:last-child>div{
    margin: 10px;
    margin-top: 60px;
}

#carta>div:last-child>div>img{
    width: 580px;
    height: 580px;
    border: solid 2px white;
    border-radius: 10px;
    object-fit: cover;
}

#carta>div:last-child h4{
    font-size: 26px;
}

#carta>div:last-child p{
    color: grey;
    font-size: 18px;
}

/*club*/
#club{
    margin-top: 100px;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(147,28,38,1) 100%);
    border-bottom-left-radius: 20px ;
    border-bottom-right-radius: 20px ;
}

#club > div:first-child >h2{
   text-align: center;
   font-size: 40px;
    
} 

#club > div:first-child >div{ 
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    
}   

#club > div:first-child >div img{
    width: 100px;
    margin: 0 10px;
}   

#club > div:first-child >div>div:first-child{
    margin-right: 30px;
}   

#club > div:first-child >div>div:nth-child(4){
    margin-right: 30px;
} 

#club > div:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 260px;
    padding-bottom: 180px
}


#club > div:last-child>div{
    margin-left: 80px;
}

#club > div:last-child h3{
    font-size: 60px;
    line-height: 1;
}

#club > div:last-child p{
   margin: 20px 0;
}

/*camion*/
#camion{
    position: relative;
    margin-top: 10px;
} 

#camion >div{
    width: 50%;
    position: absolute;
    bottom: 28%;
    left: 4%;
}

#camion>div>h3{
    font-size: 80px;
    line-height: 1;
}

#camion>div>a{
    font-size: 30px;
}

#camion>div>p{
    font-size: 15px;
    margin-bottom: 10px;
}

#camion >div:last-child{
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 30%;
    background: linear-gradient(180deg, rgba(250,250,250,0) 0%, rgba(0,0,0,1) 30%);
    padding: 1px;
}

/*cocina*/
#cocina{
    position: relative;
}

#cocina img{
    max-height: 400px;
    position: absolute;
    bottom: 20%;
}