*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Knockout';
    src: url('../fonts/knockout/Knockout-Bold.otf') format('truetype');
    font-style: normal;
    font-weight: bold;
  }

body{
    font-family: 'Knockout';
}

main{
    background-color: black;
}

button{
    background-color: transparent;
    border: none;
    color: white;
}

button.menuLateral {
    width: 40px;
}

.boton{
    text-align: center;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    background-color: transparent;
    padding: 10px 25px;
    border-radius: 20px;
    font-weight: bold;
}

/*HEADER*/
/*Menu*/
/*Logo y menu lateral*/
.menu{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    margin-top: 18px;
    width: 100%;
    padding: 0 60px;
    z-index: 100;
}

.menu div:first-child{
    display: flex;
    align-items: center;
}

.menu button{
    font-size: 3rem;
}

.menu svg{
    fill: white;
    width: 100%;
}

.logo a{
    width: 13%;
    margin-right: 20px;
}

/*Enlaces*/
.menu .boton{
    font-size: 1rem;
    margin: 0 10px;
}

/*MAIN*/
/*banner*/

#banner{
    width: 100%;
}

#banner>div:first-child{
    display: flex;
    justify-content: center;
}

/*video*/
#banner video{
    width: 50%;
    z-index: 99;
}

#banner div{
    width: 100%;
    
}

/*animaciones*/
.mover{
    color: white;
    width: 100%;
    overflow-x: hidden;
}

.mover div{
    display: flex;
}

.mover p{
    font-size: 112px;
}

@keyframes mover-izq-der {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0%);
    }
}

@keyframes mover-der-izq{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.mover div p{
    animation: mover-izq-der 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.mover div:nth-child(2n+1) p{
    animation: mover-der-izq 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.mover span{
    color: transparent;
    -webkit-text-stroke: solid 2px white;
}
